$card-height:530px;
$card-width:400px;
$card-border:1px;
$card-radius:5px;
$card-border-color:#EAEAEA;
$card-font:'montserrat';


$card-img-width:400px;
$card-img-height:217px;


$card-calendar-width:107px;
$card-calendar-height:21px;
$card-calendar-opacity:60%;
$card-calendar-font:14px;
$card-calendar-line:21px;
$card-calendar-weight:400;
$card-calendar-color:#363636;



$card-title-width:355px;
$card-title-top:297px;
$card-title-font:24px;
$card-title-weight:400;
$card-title-line:29.26px;
$card-title-font-color:#363636;


$card-summary-width:350px;
$card-summary-size:16px;
$card-summary-font-color:#363636;
$card-summary-line:24px;
$card-summary-height:96px;


$card-button-height:24px;
$card-button-width:110px;







